trafilatura
beautifulsoup4
requests
langchain
langchain-community
langchain-openai
arxiv
openai
pydantic
httpx
pydantic-core
chromadb
rank_bm25
sentence-transformers
networkx
nltk
numpy
sklearn
datasketch
ragas
